<div class="Container">
  <div class="Header">
    <app-icon-svg class="Icon" iconName="menu"></app-icon-svg>
    <div class="Profile">
      <img class="UserImage" src="../../../../assets/profile.png" />
      <div class="Details">
        <h1 class="Username">Ricador A.</h1>
        <p class="Profession">Engenheiro</p>
      </div>
    </div>
  </div>
  <div class="SubHeader">
    <h1 class="Title">Gestão de UCs</h1>
    <div
      class="Breadcrumbs"
      *ngFor="let breadcrumb of breadcrumbs; let i = index"
    >
      <span *ngIf="i < breadcrumbs.length - 1">{{
        breadcrumb.name + ">"
      }}</span>
      <span *ngIf="i == breadcrumbs.length - 1" class="Active">{{
        breadcrumb.name
      }}</span>
    </div>
  </div>
</div>
