@import "../../../../theme.scss";

.btn {
  display: inline-flex;
  align-items: center;
  gap: 12px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  padding: 12px 22px;
  min-height: 47px;
}

.btn-primary {
  background-color: $secondary-color;

  .Icon {
    fill: $light-color;
  }
}

.btn-danger {
  background-color: $danger-color;
  .Icon {
    fill: $light-color;
  }
}

.Link {
  background-color: transparent !important;
  text-decoration: underline;
  gap: 4px;
  font-size: 12px;
  padding: 0;
  height: 100%;

  &.btn-primary {
    color: $secondary-color;

    .Icon {
      fill: $secondary-color;
    }
  }
}
