@import "../../../../theme.scss";

:host {
  height: 100%;
}

.Container {
  background-color: $bg-default;
  padding: 25px 36px;
  height: 100%;

  .Header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .Title {
      margin: 0;
      font-size: 22px;
      font-weight: 700;
    }
  }

  .Subtitle {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
  }
}

.input-group {
  background-color: $light-color;

  .input-group-text {
    background-color: transparent;
    border-left: 0;
  }
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select {
  border-right: 0;
}

.form-control,
.form-select {
  min-height: 47px;
  background-color: $light-color;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  &.Required span {
    position: relative;
    &:after {
      content: "*";
      position: absolute;
      top: 0;
      right: -12px;
      width: 10px;
      height: 10px;
      color: $text-color;
    }
    &.Invalid:after {
      color: $danger-color;
    }
  }
}

input.Invalid,
select.Invalid {
  color: $text-danger;
  &::placeholder {
    color: $text-danger;
  }
}
