@import "../../../../theme.scss";

.Container {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background-color: $light-color;
  margin-bottom: 24px;
  min-width: 200px;
  margin-right: 12px;

  &:last-child {
    margin-right: 0;
  }

  .Header {
    font-size: 22px;
    font-weight: 600;
    padding: 12px;
    border-bottom: 1px solid $bg-muted;
  }

  .Body {
    min-height: 128px;
    padding: 12px;
    text-align: center;
  }
}
