@import "../../../../styles.scss";

.Container {
  padding: 16px;
  background-color: $primary-color;
  width: 312px;
  height: 100%;

  .Brand {
    text-align: center;
    margin-bottom: 25px;
  }

  .Menu {
    padding: 0;

    .Item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      color: $light-color;
      font-size: 18px;
      list-style: none;
      cursor: pointer;
      fill: $light-color;

      &:hover {
        color: $accent-color;
        fill: $accent-color;
      }

      &:last-child {
        margin-bottom: unset;
      }

      .ItemName {
        display: flex;
        align-items: center;
        gap: 15px;
        height: 100%;

        span {
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
  }
}
