/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./theme.scss";

:root {
  --bs-heading-color: $text-color;
  --bs-body-color: $text-color;
}

html,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}
