/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "./theme.scss";

:root {
  --bs-heading-color: $text-color;
  --bs-body-color: $text-color;
}

html,
body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.input-group {
  background-color: $light-color;

  .input-group-text {
    background-color: transparent;
    border-left: 0;
  }
}

.input-group:not(.has-validation)
  > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(
    .form-floating
  ),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-control,
.input-group:not(.has-validation)
  > .form-floating:not(:last-child)
  > .form-select {
  border-right: 0;
}

.form-control,
.form-select {
  min-height: 47px;
  background-color: $light-color;
}

label {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  &.Required span {
    position: relative;
    &:after {
      content: "*";
      position: absolute;
      top: 0;
      right: -12px;
      width: 10px;
      height: 10px;
      color: $text-color;
    }
    &.Invalid:after {
      color: $danger-color;
    }
  }
}

input.Invalid,
select.Invalid {
  color: $text-danger;
  &::placeholder {
    color: $text-danger;
  }
}
