$primary-color: #1e01c2;
$secondary-color: #6691e7;
$accent-color: #faff00;
$danger-color: #ff0000;
$text-color: #302423;
$text-primary-color: #495057;
$success-color: #13c56b;
$muted-color: #cdcdcd;
$light-color: #ffffff;
$text-muted: #878a99;
$text-muted-dark: #5f6368;
$text-danger: #c394b4;
$bg-muted: #e9ebec;
$bg-default: #f5f5f5;
